<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="unofficial pokedex,pokedex,pokemon,#pokemon,#pokedex,sword and shield">
    <meta name="description" content="Web Pokedex, Browse your favourite pokemon!">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- <link href="./css/bootstrap.min.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="shortcut icon" href="./images/assets/pokeicon.png" type="image/x-icon">
    <link href="./css/index.css" rel="stylesheet" />
    <script defer src="./js/loader.js"></script>
    <script defer src="./js/index.js"></script>
    <title>Pokedex</title>
  </head>
  <body>
    <!-- logo -->
    <img src="./images/assets/logo2.png" alt="" class="logo">

    <!-- loader -->
    <section class="poke upper">
      <div class="pokeball"></div>
    </section>
    <section class="poke lower"></section>

    <!-- search -->
    <form action="/?type=type&region=region&search=search" method="GET" class="form-inline">

      <div class="pop-the-search">
        <div class="search">
          <img src="./images/assets/icon.png" style="width: 50px; height: auto;" class="image animate">
          <span> 
            <input type="text" 
            name="search" 
            class="bg-transparent border-0" 
            style="outline:none" 
            placeholder="search pokemon..." 
            autocomplete="off" 
            value="<%= typeof search != 'undefined' ? search : '' %>"/>
            <span>
              <button class="btn btn-info" type="submit" hidden>search</button>
            </span>
          </span>
        </div>
      </div>

      <div class="restrict">
        <div class="search">
          <img src="./images/assets/pokebadge.png" style="width: 50px; height: auto;" class="">
          <span> 
            <select name="type">
              <option value="---Type---" disabled selected>---Type---</option>
              <option value="Grass">Grass</option>
              <option value="Fire">Fire</option>
              <option value="Water">Water</option>
              <option value="Electric">Electric</option>
              <option value="Normal">Normal</option>
              <option value="Psychic">Psychic</option>
              <option value="Poison">Poison</option>
              <option value="Ghost">Ghost</option>
              <option value="Fighting">Fighting</option>
              <option value="Flying">Flying</option>
              <option value="Bug">Bug</option>
              <option value="Ice">Ice</option>
              <option value="Rock">Rock</option>
              <option value="Ground">Ground</option>
              <option value="Steel">Steel</option>
              <option value="Dark">Dark</option>
              <option value="Dragon">Dragon</option>
              <option value="Fairy">Fairy</option>
            </select>
            <span>
              <select name="region">
                <option value="---Region---" disabled selected>---Region---</option>
                <option value="Kanto">Kanto</option>
                <option value="Johto">Johto</option>
                <option value="Hoenn">Hoenn</option>
                <option value="Sinnoh">Sinnoh</option>
                <option value="Unova">Unova</option>
                <option value="Kalos">Kalos</option>
                <option value="Alola">Alola</option>
                <option value="Galar">Galar</option>
              </select>
            </span>
          </span>
        </div>
      </div>
    </form>


    <div class="container pokemon" style="display:none;">
      <table class="table table-striped">
        <thead style="position: sticky; top:0">
          <tr>
            <th>
              #
            </th>
            <th>
              Pic
            </th>
            <th>
              Pokemon
            </th>
            <th>
              Type
            </th>
            <th>
              Base Stats
            </th>
          </tr>
        </thead>
        <tbody>
          <% pokemon.forEach((element,i) =>{ %>
          <tr>
            <td>
              <%= element.id %>
            </td>
            <td style="position: relative;">
              <img src="./images/placeholder/poke.png" 
              style="
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
              opacity: 0.4;
              height: 200px;
              width: 200px;
              z-index: -2;
              ">
              <img data-src="<%= element.sprite %>" width="180" height="180" />
            </td>
            <td>
              <a href="/<%= element.id %>">
                <%= element.name.english %>
              </a>
            </td>
            <td>
              <% element.type.map(type => { %>
              <div
                class="bg-<%= type %> p-1 rounded mx-1 float-left text-center bold mb-1"
                style="width: 70px"
              >
                <%= type %>
              </div>
              <div class="clear-fix"></div>
              <% }) %>
            </td>
            <td style="width: 20%">
              <div>
                <span>HP:</span>
                <div style="width: 100%;background:#e0dbdb;margin: 1px 0">
                  <div
                    class="stats"
                    style="width:<%= element.base.HP %>px"
                  ></div>
                </div>
              </div>

              <div>
                <span>Attack:</span>
                <div style="width: 100%;background:#e0dbdb;margin: 1px 0">
                  <div
                    class="stats"
                    style="width:<%= element.base.Attack %>px"
                  ></div>
                </div>
              </div>

              <div>
                <span>Defense:</span>
                <div style="width: 100%;background:#e0dbdb;margin: 1px 0">
                  <div
                    class="stats"
                    style="width:<%= element.base.Defense %>px"
                  ></div>
                </div>
              </div>

              <div>
                <span>Sp.Attack:</span>
                <div style="width: 100%;background:#e0dbdb;margin: 1px 0">
                  <div
                    class="stats"
                    style="width:<%= element.base.spAtk %>px"
                  ></div>
                </div>
              </div>

              <div>
                <span>Sp.Defense:</span>
                <div style="width: 100%;background:#e0dbdb;margin: 1px 0">
                  <div
                    class="stats"
                    style="width:<%= element.base.spDef %>px"
                  ></div>
                </div>
              </div>

              <div>
                <span>Speed:</span>
                <div style="width: 100%;background:#e0dbdb;margin: 1px 0">
                  <div
                    class="stats"
                    style="width:<%= element.base.Speed %>px"
                  ></div>
                </div>
              </div>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <script>
      const preloadImage = (img) => {
        const src = img.getAttribute("data-src");
        if (!img) {
          return;
        }
        img.src = src;
      }
      document.addEventListener("DOMContentLoaded",()=> {
        const images = document.querySelectorAll('[data-src]');
        const ImageObserver = new IntersectionObserver((entries, imgObserver) => {
          entries.forEach(entry => {
            if (!entry.isIntersecting) {
              return
            } else {
              preloadImage(entry.target);
              imgObserver.unobserve(entry.target);
            }
          })
        });
        images.forEach(image => {
          ImageObserver.observe(image);
        })
      })
    </script>
  </body>
</html>
